<div class="hero">
  <h1>DOLLARCLUB</h1>
  <h3 class="tagline">the first one is the toughest</h3>

  <%= simple_form_for @app do |f| %>
    <%= f.submit 'Join', class: 'btn', id: 'join' %>
  <% end -%>
</div>

