<div class="row">
  <div class="span6 offset3 hero">
    <h1>DOLLARCLUB</h1>
    <h3 class="tagline">the first one is the toughest</h3>
    <%= link_to 'Join', "#new_app", class: 'btn', id: 'join' %>
  </div>
</div>
<%= render 'apps/form' %>

<%= link_to 'Join as Trainer', new_app_path(role: 'trainer') %>
<%= link_to 'Join as User', new_app_path(role: 'user') %>
