<div class="row">
  <div class="span6 offset3 hero">
    <header>
      <h1>DOLLARCLUB</h1>
      <h3 class="tagline">the first one is the toughest</h3>
    </header>

    <%= image_tag 'dollar1.png', class: 'dollar' %>

    <% if @app.errors.messages.empty? %>
      <%= link_to 'Join', "#new_app", {class: 'btn', id: 'join'} %>
    <% end -%>
  </div>
</div>
<%= render 'form' %>

